/* CSS comments are written like this.
With this format, if in an html file, they must be written within the <style> tag */
/*
Nice colors: (and ways to represent colors)
#77a4a6 
hsl(286, 52%, 85%) 
rgba(255, 99, 71, 0.5)
MediumSeaGreen
*/

body {
	background-color: lightyellow;
	background-image: url("images/pastel\ sea.jpeg");

	background-position: top;
	background-attachment: scroll;
	background-size: 1300px 1000px;
}

*{
  	box-sizing: border-box;
	/*margin-left: 20px;
	margin-right: 20px;*/
	font-family:"Courier New", monospace;
}


    /* Set additional styling options for the columns*/
    .column {
    float: left;
    width: 50%;
  	padding: 0 20px;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }

h1{
	outline-style:solid;
	outline-color:white;
	outline-width: thick;
	outline-offset: 5px;
	padding: 15px 30px 15px;
	margin-top: 30px;
	margin-left: 200px;
	margin-right: 200px;
	color: black;
	text-align:center;
	border: 5px dotted rgba(255, 99, 71, 0.6); 
	border-radius: 25px;
}
h2{
	color:white;
	background-color: rgba(255, 99, 71, 0.6);
	text-align:center;

}

ul{

/* need to resize image to a v small size if you want it to be a bullet point */
	list-style-image: url('images/movie-icon.png');

	color:black;
	margin-left: 20px;
	margin-right: 30px;
	background-color: rgba(255, 99, 71, 0.1);
	
  	font-family: "Georgia", serif;
	width: 400px;
  	height: 500px;
	overflow: scroll;
}

input{
	text-align: right;
}
